body {
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden; }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    transform:rotate(45deg)
    }/*rotates the stars*/
    
    
  
  .star {
    --star-color: white;
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
    @media screen and (max-width: 750px) {
      .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
    .star:nth-child(1) {
      --star-tail-length: 7.26em;
      --top-offset: 9.26vh;
      --fall-duration: 9.114s;
      --fall-delay: 7.099s; }
    .star:nth-child(2) {
      --star-tail-length: 5.28em;
      --top-offset: 5.24vh;
      --fall-duration: 8.295s;
      --fall-delay: 6.336s; }
    .star:nth-child(3) {
      --star-tail-length: 6.12em;
      --top-offset: 42.12vh;
      --fall-duration: 9.081s;
      --fall-delay: 7.46s; }
    .star:nth-child(4) {
      --star-tail-length: 7.2em;
      --top-offset: 46.47vh;
      --fall-duration: 6.491s;
      --fall-delay: 4.197s; }
    .star:nth-child(5) {
      --star-tail-length: 5.59em;
      --top-offset: 35.24vh;
      --fall-duration: 6.081s;
      --fall-delay: 7.357s; }
    .star:nth-child(6) {
      --star-tail-length: 6.89em;
      --top-offset: 96.97vh;
      --fall-duration: 9.425s;
      --fall-delay: 0.953s; }
    .star:nth-child(7) {
      --star-tail-length: 7.24em;
      --top-offset: 74.26vh;
      --fall-duration: 9.96s;
      --fall-delay: 5.773s; }
    .star:nth-child(8) {
      --star-tail-length: 7.46em;
      --top-offset: 41.85vh;
      --fall-duration: 7.769s;
      --fall-delay: 8.679s; }
    .star:nth-child(9) {
      --star-tail-length: 7.48em;
      --top-offset: 89.8vh;
      --fall-duration: 11.514s;
      --fall-delay: 5.549s; }
    .star:nth-child(10) {
      --star-tail-length: 6.89em;
      --top-offset: 69.68vh;
      --fall-duration: 10.489s;
      --fall-delay: 7.578s; }
    .star:nth-child(11) {
      --star-tail-length: 7.29em;
      --top-offset: 73.2vh;
      --fall-duration: 11.256s;
      --fall-delay: 4.474s; }
    .star:nth-child(12) {
      --star-tail-length: 5.63em;
      --top-offset: 30.05vh;
      --fall-duration: 11.64s;
      --fall-delay: 4.557s; }
    .star:nth-child(13) {
      --star-tail-length: 6.97em;
      --top-offset: 78.17vh;
      --fall-duration: 9.629s;
      --fall-delay: 2.317s; }
    .star:nth-child(14) {
      --star-tail-length: 6.89em;
      --top-offset: 7.05vh;
      --fall-duration: 9.973s;
      --fall-delay: 4.587s; }
    .star:nth-child(15) {
      --star-tail-length: 5.95em;
      --top-offset: 24.04vh;
      --fall-duration: 10.79s;
      --fall-delay: 3.894s; }
    .star:nth-child(16) {
      --star-tail-length: 7.37em;
      --top-offset: 38.13vh;
      --fall-duration: 11.294s;
      --fall-delay: 2.863s; }
    .star:nth-child(17) {
      --star-tail-length: 5.95em;
      --top-offset: 78.5vh;
      --fall-duration: 10.418s;
      --fall-delay: 7.196s; }
    .star:nth-child(18) {
      --star-tail-length: 5.6em;
      --top-offset: 2.45vh;
      --fall-duration: 9.149s;
      --fall-delay: 1.238s; }
    .star:nth-child(19) {
      --star-tail-length: 5.63em;
      --top-offset: 99.51vh;
      --fall-duration: 10.422s;
      --fall-delay: 2.095s; }
    .star:nth-child(20) {
      --star-tail-length: 5.89em;
      --top-offset: 94.33vh;
      --fall-duration: 6.64s;
      --fall-delay: 8.033s; }
    .star:nth-child(21) {
      --star-tail-length: 5.82em;
      --top-offset: 14.49vh;
      --fall-duration: 8.049s;
      --fall-delay: 9.38s; }
    .star:nth-child(22) {
      --star-tail-length: 7.27em;
      --top-offset: 31.44vh;
      --fall-duration: 7.612s;
      --fall-delay: 7.183s; }
    .star:nth-child(23) {
      --star-tail-length: 7.32em;
      --top-offset: 7.15vh;
      --fall-duration: 9.676s;
      --fall-delay: 9.297s; }
    .star:nth-child(24) {
      --star-tail-length: 6.98em;
      --top-offset: 36.42vh;
      --fall-duration: 8.399s;
      --fall-delay: 3.281s; }
    .star:nth-child(25) {
      --star-tail-length: 7.13em;
      --top-offset: 51.26vh;
      --fall-duration: 8.432s;
      --fall-delay: 6.496s; }
    .star:nth-child(26) {
      --star-tail-length: 7.45em;
      --top-offset: 72.61vh;
      --fall-duration: 10.491s;
      --fall-delay: 1.87s; }
    .star:nth-child(27) {
      --star-tail-length: 7.22em;
      --top-offset: 7.93vh;
      --fall-duration: 10.544s;
      --fall-delay: 2.149s; }
    .star:nth-child(28) {
      --star-tail-length: 5.76em;
      --top-offset: 66.99vh;
      --fall-duration: 9.028s;
      --fall-delay: 9.263s; }
    .star:nth-child(29) {
      --star-tail-length: 6.09em;
      --top-offset: 92.38vh;
      --fall-duration: 9.988s;
      --fall-delay: 5.699s; }
    .star:nth-child(30) {
      --star-tail-length: 6.33em;
      --top-offset: 96.73vh;
      --fall-duration: 7.908s;
      --fall-delay: 7.976s; }
    .star:nth-child(31) {
      --star-tail-length: 6.02em;
      --top-offset: 37.09vh;
      --fall-duration: 11.274s;
      --fall-delay: 2.563s; }
    .star:nth-child(32) {
      --star-tail-length: 5.77em;
      --top-offset: 85.15vh;
      --fall-duration: 10.236s;
      --fall-delay: 5.123s; }
    .star:nth-child(33) {
      --star-tail-length: 5.11em;
      --top-offset: 3.85vh;
      --fall-duration: 7.82s;
      --fall-delay: 3.828s; }
    .star:nth-child(34) {
      --star-tail-length: 5.83em;
      --top-offset: 6.15vh;
      --fall-duration: 6.554s;
      --fall-delay: 1.073s; }
    .star:nth-child(35) {
      --star-tail-length: 6em;
      --top-offset: 82.07vh;
      --fall-duration: 9.905s;
      --fall-delay: 8.368s; }
    .star:nth-child(36) {
      --star-tail-length: 6.46em;
      --top-offset: 95.36vh;
      --fall-duration: 9.812s;
      --fall-delay: 0.395s; }
    .star:nth-child(37) {
      --star-tail-length: 6.32em;
      --top-offset: 48.72vh;
      --fall-duration: 10.097s;
      --fall-delay: 1.409s; }
    .star:nth-child(38) {
      --star-tail-length: 5.05em;
      --top-offset: 39.51vh;
      --fall-duration: 6.375s;
      --fall-delay: 2.749s; }
    .star:nth-child(39) {
      --star-tail-length: 6.1em;
      --top-offset: 10.79vh;
      --fall-duration: 10.48s;
      --fall-delay: 8.278s; }
    .star:nth-child(40) {
      --star-tail-length: 5.72em;
      --top-offset: 92.39vh;
      --fall-duration: 6.404s;
      --fall-delay: 8.947s; }
    .star:nth-child(41) {
      --star-tail-length: 7.38em;
      --top-offset: 20.29vh;
      --fall-duration: 7.748s;
      --fall-delay: 3.756s; }
    .star:nth-child(42) {
      --star-tail-length: 6.69em;
      --top-offset: 27.66vh;
      --fall-duration: 11.071s;
      --fall-delay: 9.029s; }
    .star:nth-child(43) {
      --star-tail-length: 7.5em;
      --top-offset: 39.46vh;
      --fall-duration: 7.887s;
      --fall-delay: 0.888s; }
    .star:nth-child(44) {
      --star-tail-length: 5.5em;
      --top-offset: 79.39vh;
      --fall-duration: 9.854s;
      --fall-delay: 7.084s; }
    .star:nth-child(45) {
      --star-tail-length: 6.11em;
      --top-offset: 94.85vh;
      --fall-duration: 9.223s;
      --fall-delay: 9.04s; }
    .star:nth-child(46) {
      --star-tail-length: 5.2em;
      --top-offset: 65.9vh;
      --fall-duration: 9.581s;
      --fall-delay: 1.328s; }
    .star:nth-child(47) {
      --star-tail-length: 6.27em;
      --top-offset: 0.23vh;
      --fall-duration: 6.197s;
      --fall-delay: 8.664s; }
    .star:nth-child(48) {
      --star-tail-length: 6.14em;
      --top-offset: 88.44vh;
      --fall-duration: 11.094s;
      --fall-delay: 7.414s; }
    .star:nth-child(49) {
      --star-tail-length: 6.67em;
      --top-offset: 79.2vh;
      --fall-duration: 8.509s;
      --fall-delay: 7.019s; }
    .star:nth-child(50) {
      --star-tail-length: 6.14em;
      --top-offset: 59.75vh;
      --fall-duration: 11.435s;
      --fall-delay: 6.574s; }
    .star::before, .star::after {
      position: absolute;
      content: '';
      top: 0;
      left: calc(var(--star-width) / -2);
      width: var(--star-width);
      height: 100%;
      background: linear-gradient(45deg, transparent, currentColor, transparent);
      border-radius: inherit;
      animation: blink 2s linear infinite; }
    .star::before {
      transform: rotate(45deg); }
    .star::after {
      transform: rotate(-45deg); }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0); } }
  
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1; }
    70%, 80% {
      width: 0;
      opacity: 0.4; }
    100% {
      width: 0;
      opacity: 0; } }
  
  @keyframes blink {
    50% {
      opacity: 0.6; } }